* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Comic Sans MS', cursive, sans-serif;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: rgb(213,197,160);
    padding: 1.5vw;
}

header nav ul {
    display: flex;
    gap: 40px;
    list-style-type: none;
}

header a h1{
    font-size: 28px;
}

header nav ul li a{
    font-size: 22px;
}

header nav ul li a:hover{
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
    transition: text-shadow 0.5s ease;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}


a {
    text-decoration: none;
    color: inherit;
}

.login-and-registration-button, .login-and-registration-button:hover{
    all: unset;
    font-size: 20px;
    padding: 5px 9px;
    border-radius: 100px;
    color: #fff;
    background-color: rgb(117,71,20);
}

.login-and-registration-button:hover{
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.login-and-registration-button a{
    color: white;
    font-size: 20px;
}

.buttons{
    display: flex;
    gap:10px;
}
/*
.darkening-the-image {
    position: relative;
}

.description-our-cafe img {
    width: 100%;
    height: auto;
    object-fit: fill;
    display: block;
}

.darkening-the-image::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(103, 80, 41, 0.65);
}

.darkening-the-image h1{
    position: absolute;
    top: 35%;
    left: 10%;
    color: white;
    font-size: 4.5vw;
    font-weight: 550;
}

.darkening-the-image p{
    position: absolute;
    top: 55%;
    left: 10%;
    color: white;
    font-size: 2vw;
    padding-right: 7vw;
}
*/
.description-our-cafe{
    background-image: linear-gradient(rgba(103, 80, 41, 0.5), rgba(103, 80, 41, 0.5)),
        url(../images/background-image-cat-description-our-cafe.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 900px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.description-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    width: 90%;
    margin-left: 10vw;
    margin-right: 10vw;
    gap: 20px;
}

.description-text h1{
    font-size: 4.5vw;
}

.description-text p{
    font-size: 2vw;
}

.our-advantages, .about-us, .photos-from-pawffee, .our-value-propositions, footer {
    padding-top: 3vw;
    padding-bottom: 6vw;
    background-color: rgb(177, 149, 118);
    color: white;
}

.our-advantages h1, .about-us h1, .photos-from-pawffee h1, .our-value-propositions h1{
    margin-left: 10vw;
    margin-bottom: 4vw;
    font-size: 4.5vw;
}

.our-value-propositions h1{
    margin-bottom: 2vw;
}

.our-advantages ul, .about-us ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}

.our-advantages ul{
    flex-wrap: wrap;
}

.our-advantages ul li{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.our-advantages ul li p{
    margin-top: 5vw;
    text-align: center;
    font-size: 1.7vw;
}

.our-advantages ul li img{
    height: auto;
    width: 400px;
}

.about-us{
    background: rgb(68, 49, 30);
}

.about-us ul{
    display: flex;
    margin-left: 5vw;
    margin-right: 5vw;
    gap: 30px;
}

.about-us ul li p{
    font-size: 1.7vw;
    text-align: justify;
}

.about-us ul li img{
    width: 48vw;
    height: auto;
    border-radius: 2vw;
}

.photos-from-pawffee{
    background: #B39F7A;
}

.photos-horizontal, .photos-vertical{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

.our-value-propositions{
    background: #6A513B;
}

.photos-horizontal img{
    width: 30vw;
    height: 25vw;
    object-fit: cover;
    border-radius: 10%;
}

.darkening-image-container {
    position: relative;
    width: 450px;
    height: 520px;  
}
  
.darkening-image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 2vh;
}

.darkening-image-text {
    position: absolute; 
    bottom: 0;
    height: auto;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    border-bottom-left-radius: 2vh;
    border-bottom-right-radius: 2vh;
    display: flex;
    justify-content: center;
    text-align: justify;
    font-size: 22px;
    padding: 30px;
}

footer{
    background: #FFF1C6;
    color: black;
    display: flex;
    justify-content: space-between;
    padding-left: 5.5vw;
    padding-bottom: 3vw;
    padding-right: 5vw;
    flex-wrap: wrap;

}

.footer-element{
    flex: 1;
    align-items: center;
    justify-content: center;
    position: relative;
}

.footer-element *{
    text-align: center;
}

.footer-element h1{
    font-size: 30px;
}

.footer-element h3{
    font-size: 20px;
}

.footer-element .social-media-icons{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.footer-element .social-media-icons img{
    width: 3.5vw;
    height: auto;
    padding: 0.5vw;
}

@media screen and (min-width: 1700px) {
    .darkening-image-container{
        width: 30vw;
        height: 35vw;
    }
    .darkening-image-container .darkening-image-text{
        font-size: 1.2vw;
    }
}

@media screen and (min-width: 767px) and (max-width:1023px){
    header a h1, header nav ul li a, .login-and-registration-button a{
        font-size: 20px;
    }
    
    .our-advantages ul{
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }

    .description-text h1, .our-advantages h1, .about-us h1, .our-value-propositions h1, .photos-from-pawffee h1{
        font-size: 4.5vw;
    }

    .description-text p, .our-advantages ul li p{
        font-size: 2vw;
    }

    .about-us ul{
        flex-wrap: wrap-reverse;
        justify-content: center;
        gap: 3vw;
    }

    .about-us ul li img{
        width: 100%;
    }

    .darkening-image-container .darkening-image-text, .about-us ul li p {
        font-size: 2vw;
    }

    .footer-element h1{
        font-size: 3vw;
    }

    .footer-element h3{
        font-size: 2.3vw;
    }

    .footer-element .social-media-icons img{
        width: 5vw;
    }
}


@media screen and (max-width:767px){
    header a h1{
        font-size: 25px;
    }

    header nav ul li a, .buttons .login-and-registration-button a{
        font-size: 15px;
    }

    header nav ul{
        flex-direction: column;
        gap: 0.5vw;
    }

    .description-text h1, .our-advantages h1, .about-us h1, .our-value-propositions h1, .photos-from-pawffee h1, .footer-element h1{
        font-size: 30px;
    }

    .description-text p, .our-advantages ul li p, .our-advantages ul li p, .about-us ul li p, .darkening-image-container .darkening-image-text, .footer-element h3{
        font-size: 15px;
    }

    .our-advantages ul{
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 3vw;
    }

    .darkening-image-container .darkening-image-text{
        padding: 12px;
    }
    
    .about-us ul{
        flex-wrap: wrap-reverse;
        justify-content: center;
        gap: 3vw;
    }

    .about-us ul li img{
        width: 100%;
        height: auto;
    }

    .darkening-image-container {
        width: 80%
    }

    .photos-horizontal img{
        height: 50vw;
        width: 80%;
    }

    .footer-element .social-media-icons img{
        width: 8vw;
    }

    .our-advantages ul li img{
        width: 50vw;
    }
}

.chat-toggle {
    width: 50px;
    height: 50px;
    border-radius: 50%; /* Делаем круглым */
    background-color: #007bff; /* Цвет фона */
    color: #fff; /* Цвет текста */
    text-align: center;
    line-height: 50px; /* Чтобы текст был по центру */
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 3; /* Задаем z-index выше, чем у .chat-container */
    cursor: pointer;
    font-size: 10px;
}

.chat-container {
    max-width: 400px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    padding: 20px;
    position: fixed;
    bottom: 20px; /* регулируйте значение сдвига от нижнего края */
    right: 80px; /* регулируйте значение отступа слева */
    z-index: 2; /* задаем z-index выше, чем у footer */
}

.chat-box {
    height: 300px;
    overflow-y: scroll;
    border-bottom: 1px solid #eee;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

#user-input {
    width: calc(100% - 70px);
    padding: 5px;
    margin-right: 5px;
}

button {
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
/*
.user-icon {
    text-align: center;
}

.user-icon img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.user-icon p {
    margin-top: 10px;
}

img{
    width: 115px;
    height: 100px;
}
*/
